# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build output
# =========================
dist/
build/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# =========================
# Vite
# =========================
.vite/

# =========================
# Coverage / Testing
# =========================
coverage/

# =========================
# Temporary / Cache
# =========================
.cache/
.temp/

# Local preview images
backend/public/previews/

# Local seed data
backend/src/seed/visualizers.seed.json
backend/src/seed/users.seed.json
backend/src/seed/userVisuals.seed.json

# Playwright
playwright-report/
test-results/
