PORT=5001

# MongoDB
MONGO_URI=mongodb+srv://sonix-app-dev:SonixAppDev_2026_secure-password@sonix-cluster.xeryzkd.mongodb.net/?appName=sonix-cluster
# PostgreSQL
POSTGRES_URI=postgresql://user:password@localhost:5432/mydb pragma: allowlist secret

# JWT_SECRET
JWT_SECRET=your_secret_here

# CORS
CLIENT_URL=http://localhost:5173

