PORT=5001

# MongoDB
MONGO_URI=mongodb://localhost:27017/mydb

# PostgreSQL
POSTGRES_URI=postgresql://user:password@localhost:5432/mydb pragma: allowlist secret

# JWT_SECRET
JWT_SECRET=your_secret_here